// Import page-specific CSS files here.
@import "home";


h1{
  color: rgb(255, 255, 255);
  width: 2000px;
  font-size: 50px;
  height: 90px;
  margin-top: 160px;

}


div a{
  text-decoration-style: none;
  background-color: black;
 color: aliceblue;
}
